* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-bg: #000814;
    --color-surface: #001d3d;
    --color-accent: #003566;
    --color-warning: #ffc300;
    --color-highlight: #ffd60a;
}

body,
html {
    background-color: var(--color-bg);
    color: #fff;
}

li {
    all: unset;
}
